{:aliases {:attach {:extend-deps {com.clojure-goes-fast/clj-async-profiler
                                    {:mvn/version "1.4.0"}},
                    :jvm-opts ["-Djdk.attach.allowAttachSelf"
                               "-XX:+UnlockDiagnosticVMOptions"
                               "-XX:+DebugNonSafepoints"]},
           :uberjar {:main-opts ["-m" "uberdeps.uberjar"],
                     :replace-deps {uberdeps/uberdeps {:mvn/version "1.4.0"}}}},
 :deps {clj-rss/clj-rss {:mvn/version "0.4.0"},
        garden/garden {:mvn/version "1.3.10"},
        hiccup/hiccup {:mvn/version "2.0.0-RC5"},
        markdown-clj/markdown-clj {:mvn/version "1.12.3"},
        metosin/pohjavirta {:mvn/version "0.0.1-alpha7"},
        metosin/reitit {:mvn/version "0.8.0"},
        org.clojure/clojure {:mvn/version "1.12.0"},
        sitemap/sitemap {:mvn/version "0.4.0"}},
 :paths ["src" "resources" "classes"]}
